<server description="AI Hub App Server">

    <featureManager>
        <feature>jaxrs</feature>
        <feature>servlet-6.0</feature>
        <feature>cdi</feature>
    </featureManager>

    <httpEndpoint id="defaultHttpEndpoint"
                  host="*"
                  httpPort="9080"
                  httpsPort="9443" />

    <!-- <webApplication location="ai-hub.war" contextRoot="/"/> -->

    <mpOpenAPI docPath="ai-hub/ai-api/openapi" uiPath="ai-hub/ai-api/openapi/ui" />

</server>
